.day_section {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.25em;
  line-height: 24px;
  text-align: justify;
  background-color: lighten($background, 10%);
  border-radius: 8px;
  &:nth-child(even) {
    border-left: $post_border_even;
  }
  &:nth-child(odd) {
    border-right: $post_border_odd;
  }
}
