img {
  max-width: 100%;
  border-radius: 8px;
}

.day_section_img_wrapper {
  width: 80%;
  margin: auto;
  @include flex($dir: column, $align: center, $just: space-between);
  @include medq($break-m) {
    @include flex($dir: row, $align: flex-start, $just: space-around);
  }
}

figure {
  margin: 10px;
  max-width: 80%;
  @include medq($break-m) {
    max-width: 40%;
  }
}

figcaption {
  font-size: 0.85em;
}
