@mixin medq($break) {
    @media (min-width: $break-m) {
      @content;
    }
  }

  @mixin medqL($break) {
    @media (min-width: $break-l) {
      @content;
    }
}

@mixin flex($disp: flex, $dir: null, $just: null, $align: null) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    @content;
}