// Colors

$white: #fff;
$black: #000;

$font: #161616;
$background: #c3d3db;
$link: #ff7c50;
$border: #643969;

$post_border_even: 6px solid #643969;
$post_border_odd: 6px solid #ff7c50;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
