* {
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 20px 20px 100px;
  @include flex($dir: column, $just: space-between, $align: center);
}

ul li {
  list-style-type: circle;
  @include listy;
}

ol li {
  list-style-type: decimal;
  @include listy;
}

.reveal {
  cursor: pointer;
}
.answer {
  height: 0px;
  overflow: hidden;
  transition: 0.6s;
}

.show {
  height: 100px;
}
