a {
  color: $link;
  text-decoration: none;
  font-weight: 600;
}

.underline {
  text-decoration: underline;
}

code {
  font-family: monospace;
}

h1 {
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

i {
  color: $link;
  font-size: 1.5em;
  @include medq($break-m) {
    font-size: 4em;
  }
}
